<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bootstrap_css %}
    <title>Document</title>
</head>
<body>
    <form action="" method=POST enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form%}
        <button>만들기</button>
    </form>
    <a href="{% url 'vote:index' %}"><button>뒤로가기</button></a>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>